{%extends 'core/base.html'%} {%block main%}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-8 bg-success-subtle text-center p-2">
      <p>
        My name is Ayush Tiwari. I had completed my Engineering in the field of
        Computer Sciece and Engineering from Medi-Caps University. Currently, I
        am working as a Software Developer Engineer in Consultadd Services
        Private Limited.
      </p>
    </div>
  </div>
</div>

{% endblock main%}
