{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
</head>
<body>
    <div class="cbody">
        <nav class="navbar navbar-expand-md navbar-expand-lg navbar-light  bg-secondary">
            <div class="container-fluid">
                <div class="navbar-brand text-light">Mini Blog</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="navbar-nav">
                        <a class="nav-link text-light" href="{% url 'home' %}">Home</a>
                        <a class="nav-link text-light" href="{% url 'about' %}">About</a>
                        <a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
                        {% if is_authenticated %}
                        <a class="nav-link text-light" href="{% url 'dashboard' %}"> DashBoard</a>
                        <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link text-light" href="{% url 'signup' %}">SignUp</a>
                            <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
                        {% endif %}
                        
        
                    </div>
                </div>
            </div>
        </nav>
        {% block main %}    
            
        {% endblock main %}
    </div>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>