{% extends 'core/base.html'%}

{% block main%}
                <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

    {% if messages %}
    {% for message in messages %}
        <p class="alert alert-primary text-center"> {{message}}</p>
    {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors%}
            <div class="alert alert-danger text-center">{{error}}</div>
        {% endfor %}
    {% endif%}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <div class="center2">

        {% for fm in form %}
            <div class="mt-3">{{fm.label_tag}} {{fm}} {{fm.errors}}</div>
        {% endfor %}
        <input type="submit" class="mt-2 btn btn-danger" value="Submit">
        </div>
    </form>
            </div>
        </div>
    </div>
{% endblock main%}